# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/

# Logs and cache
*.log
*.sqlite3
*.db
*.pid
*.seed
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
build/
dist/
.cache/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*

# OS specific
Thumbs.db
ehthumbs.db
